{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

{% if messages %}
    {% for message in messages %}
     <div class="text-center alert alert-{{ message.tags }} mb-4 mt-4">
         {{ message|safe }}
     </div>
    {% endfor %}
{% endif %}

<div class="text-center container">
    <h1 class="m-2"><b>Dodaj zdjęcie</b></h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="crazy-btn btn btn-success" type="submit">Dodaj</button>
        <button class="btn btn-secondary" type="button" onclick="history.go(-1)">Anuluj</button>
    </form>
</div>

{% endblock %}