{% extends 'base.html' %}
{% block content %}

<div class="container">
    <input id="search_field" class="form-control mt-2 mb-2 width-500" placeholder="Wyszukaj klienta..."/>
    <div class="table-responsive-sm">
        <table class="table table-sm" style="margin:auto;">
            <thead>
                <tr>
                    <th>Akcje</th>
                    <th>Klient</th>
                    <th>Telefon</th>
                    <th>E-mail</th>
                </tr>
            </thead>
            <tbody id="table">
                {% for customer in customers %}
                <tr>
                    <td>
                        <a href="{% url 'customer:detail' customer.pk %}"><img class="icon-size-p" src="/static/img/icons/loupe.png"></a>
                        <a href="{% url 'customer:update' customer.id %}"><img class="icon-size-p" src="/static/img/icons/pencil.png"></a>
                    </td>
                    {% if customer.alias %}
                        <td>
                            {{ customer.alias }}
                        </td>
                    {% else %}
                        <td>
                            {{ customer.name }}
                        </td>
                    {% endif %}
                    <td>{% if customer.phone_number %} {{ customer.phone_number }} {% endif %}</td>
                    <td>{% if customer.email %} {{ customer.email}} {% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="text-center m-3">
        <span>
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; pierwsza</a>
                <a href="?page={{ page_obj.previous_page_number }}">poprzednia</a>
            {% endif %}

            <span>
                Strona {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">następna</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">ostatnia &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

<script>
    const data = '{{ qs_json }}'
    const rdata = JSON.parse(data.replace(/&quot;/g, '"'))
    const input = document.getElementById('search_field')
    let = filtered = []
    input.addEventListener('keyup', (e)=> {
        table.innerHTML = ""
        filtered = rdata.filter(customer=> customer['name'].toLowerCase().includes(e.target.value.toLowerCase()))
        if (filtered.length > 0){
            filtered.map(customer=>{
                if  (customer['phone_number'] == null) {
                    customer['phone_number'] = ""
                } else {}
                if  (customer['alias'] != null) {
                    customer['name'] = customer['alias']
                } else {}
                if  (customer['email'] == null) {
                    customer['email'] = ""
                } else {}

                table.innerHTML +=`
                <tr>
                    <td>
                        <a href="http://127.0.0.1:8000/klienci/${customer['id']}"><img class="icon-size-p" src="/static/img/icons/loupe.png"></a>
                        <a href="http://127.0.0.1:8000/klienci/${customer['id']}/edytuj"><img class="icon-size-p" src="/static/img/icons/pencil.png"></a>
                    </td>
                    <td>${customer['name']}</td>
                    <td>${customer['phone_number']}</td>
                    <td>${customer['email']}</td>
                </tr>
                `
            })
        } else {
            table.innerHTML = "<br/><b>Nie znaleziono...</b>"
        }
    })
</script>

{% endblock %}